<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <!-- import the webpage's stylesheet -->
<!--     <link rel="stylesheet" href="/style.css"> -->

    <!-- import the webpage's client-side javascript file -->
<!--     <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>A Dream of the Future</h1>
    </header>

    <main>
      <h2>Oh hi,</h2>

      <p>Tell me your hopes and dreams:</p>

      <form>
        <label>
          New Dream
          <input name="dream" type="text" maxlength="100" required placeholder="Dreams!">
        </label>
        <button type="submit" id="submit-dream">Add Dream</button>
      </form>

      <section class="dreams">
        <ul id="dreams">
          <em>loading dreams&hellip;</em>
        </ul>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
 -->
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
<!--     <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
<!--     <link rel="stylesheet" href="public/style.css" type="text/css" /> -->
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>
      Your Work Advisor
    </h1>
    <form action="">
      <ul class="wrapper">
        <li class="form-row">
          <label for="yourtask">Task</label>
          <input type="text" id="yourtask" />
        </li>
        <li class="form-row">
          <label for="taskduedate">Due Date and Time</label>
          <input type="datetime-local" id="taskduedate" />
        </li>
        <li class="form-row">
          <label>Priority</label>
          <input
            type="radio"
            id="priority1"
            name="priority"
            value="high_priority"
          />
          <label for="priority1" id="high"> High Priority </label><br />
          <input
            type="radio"
            id="priority2"
            name="priority"
            value="med_priority"
          />
          <label for="priority2" id="med"> Medium Priority </label><br />
          <input
            type="radio"
            id="priority3"
            name="priority"
            value="low_priority"
          />
          <label for="priority3" id="low"> Low Priority </label><br /><br />
        </li>
        <li class="form-row">
          <button class="submit" id="submit">Add Task</button>
          <button class="modify" id="modify">Modify a Task</button>
        </li>
      </ul>
    </form>
    <br />

    <section class="tasks">
        <ul id="tasks">
<!--           <em>loading tasks&hellip;</em> -->
        </ul>
      </section>
  
    <table id="toDoTable">
      <tr>
        <th>Due Date</th>
        <th>Task</th>
        <th>Priority</th>
        <th>Advice</th>
      </tr>
      <tbody id="taskBody"></tbody>
    </table>
<!--     <script>
      function updateTable(json) {
        const tableBody = document.getElementById("taskBody");
        let update = tableBody.insertRow(0);

        update.insertCell(0).innerHTML = json.date;
        update.insertCell(1).innerHTML = json.yourtask;
        update.insertCell(2).innerHTML = json.priority;
        update.insertCell(3).innerHTML = json.message;
      }

      const submit = function(e) {
        // prevent default form action from being carried out
        e.preventDefault();

        function displayRadioValue() {
          var ele = document.getElementsByName("priority");

          for (i = 0; i < ele.length; i++) {
            if (ele[i].checked) return ele[i].value;
          }
        }

        const input1 = document.querySelector("#yourtask"),
          input2 = document.querySelector("#taskduedate"),
          input3 = displayRadioValue(),
          json1 = {
            yourtask: input1.value,
            date: input2.value,
            priority: input3
          },
          body = JSON.stringify(json1);

        fetch("/submit", {
          method: "POST",
          body
        })
          .then(response => response.json())
          .then(function(response) {
            updateTable(response);
          });

        return false;
      };

      window.onload = function() {
        const button = document.querySelector("button");
        button.onclick = submit;
      };
    </script> -->
        <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>